{% extends "base.html" %}
{% block extrascripts %}
<script type="text/javascript" src="{{ STATIC_URL }}scripts/pages/change_password.js"></script>
{% endblock %}
{% block content %}
<div id="contentwindow">
  <h1>Cambia password</h1>
    {% if success %}
      <p>Password cambiata con successo</p>
      <p><a href="/">Torna all'homepage</a></p>
    {% else %}
      {% if error_message %}
        <ul class="error">
          <li>{{ error_message }}</li>
        </ul>
      {% endif %}
      <form id="changepwdform" action="" method="POST">
        {% csrf_token %}
        <label class="formlabel" for="oldpassword">Vecchia password:</label>
        <input type="password" class="textbox" name="oldpassword" id="oldpassword" value=""/>
        <label class="formlabel" for="newpassword">Nuova password:</label>
        <input type="password" name="newpassword" id="newpassword" value=""/>
        <label class="formlabel" for="newpasswordconfirm">Digitare nuovamente la password:</label>
        <input type="password" name="newpasswordconfirm" id="newpasswordconfirm" value=""/>
        <div class="buttons">
          <input type="submit" class="button" value="Cambia"/>
        </div>
      </form>
    {% endif %}
</div>
{% endblock %}
