{% extends "base.html" %}
{% block extrascripts %}
<script type="text/javascript" src="{{ STATIC_URL }}scripts/pages/login.js"></script>
{% endblock %}
{% block content %}
<div id="contentwindow">
  <h1>Login</h1>
    {% if error_message %}
      <ul class="error">
        <li>{{ error_message }}</li>
      </ul>
    {% endif %}
    <form id="loginform" action="" method="POST">
      {% csrf_token %}
      <label class="formlabel" for="username">Nome utente:</label>
      <input type="text" class="textbox" name="username" id="username" value=""/>
      <label class="formlabel" for="password">Password:</label>
      <input type="password" name="password" id="password" value=""/>
      <div class="buttons">
        <input type="submit" class="button" value="Login"/>
      </div>
    </form>
</div>
{% endblock %}
